@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import 'remixicon/fonts/remixicon.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Basic reset and global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Default styles for p and span elements */
p, span {
  font-family: 'Inter', sans-serif;
  font-weight: 500; /* Medium */
  color: white;
}
